.Header {
    background-color: aquamarine;

    .headerWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 100px;

        .logo {}

        .cart {
            display: flex;
            align-items: center;
            gap: 5px;
            background-color: gray;
            padding: 5px;
            border-radius: 10px;
            color: white;
            cursor: pointer;

            span{}
            svg {}

            .text {}

            .count {
                background-color: white;
                /* border: 1px solid gray; */
                border-radius: 50%;
                width: 25px;
                display: flex;
                justify-content: center;
                height: 25px;
                color: red;
            }


        }
    }
}